# Entorno virtual
.venv/
venv/

# Archivos de Python
_pycache_/
*.pyc

# Archivos de Django estáticos generados
staticfiles/

# Base de datos local
db.sqlite3

# Archivos de entorno o secretos
.env
*.env

# Archivos de sistema
.DS_Store
Thumbs.db